<div class="container">
  <h1>Welcome to Anagram Machine!</h1>
  <form action="/" method="post">
    Enter a Word: <input type="text" name="word"><br>
    <input type="submit" value="Submit">
  </form>

  <% if @entry %>
  These are your anagrams: 
    <% @anagram.each do |x| %>
     <%=  x.word  %> 
  <% end %>
  <% end %>
</div>
